body {
    background-color: rgb(17, 17, 17);
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: scroll;
    background-position: center center
}

.col-md-1
{
 padding-right: 186px;
 padding-left: 20px;
 padding-top: 5px;

 
}
.col-md-2
{
    padding-right: 0%;
    padding-left: 0%;

}

.text-feature-supported {
    color: rgb(24, 145, 8);
}

.text-feature-missing {
    color: rgb(161, 4, 4);
}

.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: show;
    overflow-y: hidden;

    transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    /* IE 9 */
    -webkit-transform: rotateX(180deg);
    /* Safari and Chrome */
}

.scrolling-wrapper-flexbox .row {
    min-width: 1280px;
    flex-wrap: nowrap;

}

.scrolling-wrapper-flexbox>.content {
    transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    /* IE 9 */
    -webkit-transform: rotateX(180deg);
    /* Safari and Chrome */
}

.whitetext {
    color: white;
}

.bg-dark-fade {
    background-color: rgba(17, 17, 17, 0.8) !important;
}


.characterimage:hover {
    opacity: 1 !important;
    border: 2px solid #f6b518;
    height: 753px;
    /* cursor: pointer; */
}

.characterimage {

    max-width: auto;
    height: 757px;
    opacity: 0.5 !important;
    transition: all .1s ease-in-out;

}

.hideaway {
    display: none;
    width: 0px;
    position: fixed;
    left: 0px;
    top: 0px;
    transform: translate(-100%, -100%);
}

::-webkit-scrollbar {
    background-color: #202324;
    color: #aba499;
}
::-webkit-scrollbar-thumb {
    background-color: #454a4d;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #575e62;
}
::-webkit-scrollbar-thumb:active {
    background-color: #484e51;
}
::-webkit-scrollbar-corner {
    background-color: #181a1b;
}