body {
    background-color: rgb(17, 17, 17, 1);
    background-image: linear-gradient(to bottom, rgba(0, 2, 15, 0.2), rgba(117, 19, 93, 0.5)), url("../images/bg4.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center center

}

.col-md-1
{
 padding-right: 186px;
 padding-left: 20px;
 padding-top: 5px;

 
}
.col-md-2
{
    padding-right: 0%;
    padding-left: 0%;

}

.text-feature-supported {
    color: rgb(24, 145, 8);
}

.text-feature-missing {
    color: rgb(161, 4, 4);
}

.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: show;
    overflow-y: hidden;

    transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    /* IE 9 */
    -webkit-transform: rotateX(180deg);
    /* Safari and Chrome */
}

.scrolling-wrapper-flexbox .row {
    min-width: 1280px;
    flex-wrap: nowrap;

}

.scrolling-wrapper-flexbox>.content {
    transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    /* IE 9 */
    -webkit-transform: rotateX(180deg);
    /* Safari and Chrome */
}

.whitetext {
    color: white;
}

.bg-dark-fade {
    background-color: rgba(17, 17, 17, 0.8) !important;
}


.characterimage:hover {
    opacity: 1 !important;
    /*border: 2px solid #f6b518;*/
    border: 2px solid rgba(246, 181, 24);
        height: 753px;
    /* cursor: pointer; */
}

.characterimage {

    max-width: auto;
    height: 757px;
    opacity: 0.75 !important;
    transition: all .1s ease-in-out;
    border-radius: 10px;

}

.hideaway {
    display: none;
    width: 0px;
    position: fixed;
    left: 0px;
    top: 0px;
    transform: translate(-100%, -100%);
}

::-webkit-scrollbar {
    background-color: #00000000;
}
::-webkit-scrollbar-thumb {
    background-color: #c4c4c450
}
::-webkit-scrollbar-thumb:hover {
    background-color: #d1d1d1;
}
::-webkit-scrollbar-thumb:active {
    background-color: #ffffffe8;
}
::-webkit-scrollbar-corner {
    background-color: #ffffff;
}

.blur
 {
    text-shadow: 0px 0px 6px #000000;
}

.negheight {
    margin-top: -20px;
}

.container{
    border: 1px solid rgba(246, 181, 24, 0.75);
    border-radius: 10px;
}