:root{
    --PassiveGreen:#8cc556;
    --MainSkillYellow:#fbd668;
    --AdvancementBlue: #3074fe;
    --DesirePurple: #7335e7;
}

#dialogs {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 999999;
    background-color: rgba(0, 0, 0, 0.5);
}

@keyframes fadeincustom {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes fadeincustom {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes fadeincustom {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-o-keyframes fadeincustom {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeoutcustom {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}
@-webkit-keyframes fadeoutcustom {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}
@-moz-keyframes fadeoutcustom {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}
@-o-keyframes fadeoutcustom {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes glowing-red {
    0% { box-shadow: 0 0 -10px red; }
    40% { box-shadow: 0 0 20px red; }
    60% { box-shadow: 0 0 20px red; }
    100% { box-shadow: 0 0 -10px red; }
}
@-webkit-keyframes glowing-red {
    0% { box-shadow: 0 0 -10px red; }
    40% { box-shadow: 0 0 20px red; }
    60% { box-shadow: 0 0 20px red; }
    100% { box-shadow: 0 0 -10px red; }
}
@-moz-keyframes glowing-red {
    0% { box-shadow: 0 0 -10px red; }
    40% { box-shadow: 0 0 20px red; }
    60% { box-shadow: 0 0 20px red; }
    100% { box-shadow: 0 0 -10px red; }
}
@-o-keyframes glowing-red {
    0% { box-shadow: 0 0 -10px red; }
    40% { box-shadow: 0 0 20px red; }
    60% { box-shadow: 0 0 20px red; }
    100% { box-shadow: 0 0 -10px red; }
}

.highlight-red {
    /*
    -webkit-animation: 1500ms ease 0s infinite normal none running glowing-red;
    -moz-animation: 1500ms ease 0s infinite normal none running glowing-red;
    -o-animation: 1500ms ease 0s infinite normal none running glowing-red;
    animation: 1500ms ease 0s infinite normal none running glowing-red;
    */
    -webkit-animation: whiteSonarEffect 1s alternate 75ms infinite ;
    -moz-animation: whiteSonarEffect 1s alternate 75ms infinite;
    -o-animation: whiteSonarEffect 1s alternate 75ms infinite;
    animation: whiteSonarEffect 1s alternate 75ms infinite;
}

.animated.fadeout-custom {
    -webkit-animation: fadeoutcustom 500ms forwards;
    -moz-animation: fadeoutcustom 500ms forwards;
    -o-animation: fadeoutcustom 500ms forwards;
    animation: fadeoutcustom 500ms forwards;
}

.animated.fadein-custom {
    -webkit-animation: fadeincustom 300ms;
    -moz-animation: fadeincustom 300ms;
    -o-animation: fadeincustom 300ms;
    animation: fadeincustom 300ms;
}

@-webkit-keyframes whiteSonarEffect {
    0% {
        opacity: 1;
        box-shadow: 0 0 0 2px red, 0 0 10px 10px red, 0 0 0 10px red;
    }
    40% {
        opacity: 0.7;
        box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.1), 0 0 10px 10px #fff, 0 0 0 10px rgba(255, 0, 0, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #fff, 0 0 0 10px rgba(255, 255, 255, 0.5);
        transform: scale(1.3);
        opacity: 0.5;
    }
}
@-moz-keyframes whiteSonarEffect {
    0% {
        opacity: 1;
        box-shadow: 0 0 0 2px red, 0 0 10px 10px red, 0 0 0 10px red;
    }
    40% {
        opacity: 0.7;
        box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.1), 0 0 10px 10px #fff, 0 0 0 10px rgba(255, 0, 0, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #fff, 0 0 0 10px rgba(255, 255, 255, 0.5);
        transform: scale(1.3);
        opacity: 0.5;
    }
}
@-o-keyframes whiteSonarEffect {
    0% {
        opacity: 1;
        box-shadow: 0 0 0 2px red, 0 0 10px 10px red, 0 0 0 10px red;
    }
    40% {
        opacity: 0.7;
        box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.1), 0 0 10px 10px #fff, 0 0 0 10px rgba(255, 0, 0, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #fff, 0 0 0 10px rgba(255, 255, 255, 0.5);
        transform: scale(1.3);
        opacity: 0.5;
    }
}
@keyframes whiteSonarEffect {
    0% {
        opacity: 1;
        box-shadow: 0 0 0 2px red, 0 0 10px 10px red, 0 0 0 10px red;
    }
    40% {
        opacity: 0.7;
        box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.1), 0 0 10px 10px #fff, 0 0 0 10px rgba(255, 0, 0, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #fff, 0 0 0 10px rgba(255, 255, 255, 0.5);
        transform: scale(1.3);
        opacity: 0.5;
    }
}

.image-bg-character {
    position: absolute;
    /*border: 50px solid (rgb(0,0,255), transparent);
    border-bottom: none;*/
    max-height: 100%;
    width: auto;
    bottom: 0px;
    right: 0px;
}

.forcharacter {
    opacity: 1;
}

.foreground-white {
    color: white
}

.container-fluid {
    position: absolute;
    top: 60px;
    bottom: 60px;
    right: 0;
    left: -69px;
    overflow-y: auto;
}

li.titletablelike {
    float: left;
    display: block;
    margin: 7px;
}

li.tablelike {
    float: left;
    display: block;
    width: 118px;
    height: 90px;
    margin: 8px;
}

div.skillinfopanel {
    position: relative;
    border: 2px solid var(--MainSkillYellow); /* was 1px*/
    border-radius: 10px;
    width: 200px;   /*was 155px*/
    height: 125px;   /*was 92px*/
    background-color: rgba(0, 0, 0, 0.9); /*alpha was 0.4*/
    /*display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;*/
}


.activeskill img.skillIcon:first-child {
    border: 2px solid var(--MainSkillYellow);
}

.passiveskill img.skillIcon:first-child {
    border: 2px solid var(--PassiveGreen);
}


div.skillExinfopanel :is(
[insight="Skill03_SpinCutter-A"],
[insight="Skill10_FlashStep-A"],
[insight="Skill07_CombatMaster-A"],
[insight="Skill09_ElectricShot-A"],
[insight="Skill01_EvilSlash-A"],
[insight="Skill07_DeathScythe-A"],
[insight="Skill01_WhirlDance-A"],
[insight="Skill08_SoulScream-A"],
[insight="Skill02_PerfectCombination-A"],
[insight="Skill08_SpiritShooter-A"],
[insight="Skill02_CamelSpin-A"],
[insight="Skill09_Liberator-A"],
[insight="Skill03_1stForm:ReadytoHunt-A"],
[insight="Skill07_ThirdForm-HawkAmbush-A"],
[insight="Skill02_SonicBoom-A"],
[insight="Skill07_ViciousWoodpecker-A"],
[insight="Skill06_BustDriver-A"],
[insight="Skill08_HoneyBee-A"],
):first-child,
li.tablelike :is([insight^="Skill15"],[insight^="Skill16"],[insight^="Skill17"]):first-child {
    border: 2px solid var(--AdvancementBlue);
}

li.tablelike :is([insight^="Skill13"]:not([insight$="-A"]),[insight*="Skill14"]):first-child,
li.tablelike :is([src*="Skill13"],[src*="Skill14"]),
div.skillExinfopanel :is([insight^="Skill13"][insight$="-A"]):first-child { 
    border: 2px solid var(--DesirePurple);
}

#tooltip {
    border: 2px solid #eeeeee;
    border-radius: 10px;
    padding: 5px;
    position: fixed;

}

.activeskill li.tablelike {
    margin-bottom: 33px;
    margin-left: 78px;
}

.vaporskill li.tablelike {
    margin-bottom: -10px;
}

img.skillIcon {
    position: absolute;
    left: 50%;
    top: 5px;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    transform: translateX(-50%);
}

button.skillup {
    cursor: default;
    position: absolute;
    height: 15px;
    width: 10px;
    top: 12px;
    margin: 0;
    border-radius: 100px;
}

button.skilldown {
    cursor: default;
    position: absolute;
    height: 15px;
    width: 10px;
    top: 32px;
    margin: 0;
    border-radius: 100px;
}

button.skillup, button.skilldown {
    left: 140px;
}

li.activeskill {
    float: left;
    display: block;
    width: 720px;
}

ul.tableactiveskill {
    width: 680px;
    list-style: none outside none;
}

li.passiveskill {
    float: left;
    display: block;
    width: 390px;
}

ul.tablepassiveskill {
    float: right;
    width: 410px;
    list-style: none outside none;
}

li.vaporskill {
    float: none;
    display: flex;
}

ul.tablevaporskill {
    float: none;
    width: 600px;
    list-style: none outside none;
    padding-inline-start: 0px;
}

p.skillLevel {
    font-size: 16px;
    position: absolute;
    left: 50%;
    top: 66px;
    transform: translateX(-50%);
}

p.skillName {
    font-size: 13px;
    position: absolute;
    left: 1px;
    top: 56px;
}

div.extension1infopanel {
    position: absolute;
    width: 54px;
    height: auto;
    left: -1px;
    top: 60px;
}

div.extension2infopanel {
    position: absolute;
    width: 54px;
    height: auto;
    left: 89px;
    top: 60px;
}

div.skillExinfopanel {
    position: relative;
    width: 54px;
    height: 31px;
    left: 5px;
    top: 5px;
}

img.skillExIcon {
    position: absolute;
    left: -1px;
    top: 7px;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    border: 2px solid var(--MainSkillYellow);
}

div.extension2infopanel img.skillExIcon {
    left: 54px;
}

button.skillexup {
    position: absolute;
    height: 12px;
    width: 12px;
    top: 13px;
    margin: 0;
    border-radius: 100%;
    border: none;

}

button.skillexup:focus {
    box-shadow: 0 0 0 2px rgb(119 179 0 / 50%) !important;
    outline: 0px;
}

button.skillexdown {
    position: absolute;
    height: 12px;
    width: 12px;
    top: 30px;
    margin: 0;
    border-radius: 100%;
    border: none;
}

button.skillexdown:focus {
    box-shadow: 0 0 0 2px rgb(204 0 0 / 50%) !important;
    outline: 0px;
}

button.skillexup, button.skillexdown {
    left: 62px;
}
 
div.extension2infopanel :is(button.skillexup,button.skillexdown) {
    left: 27px;
} 

p.skillExLevel {
    word-wrap: break-word;
    height: auto;
    width: 1px;
    font-size: 12px;
    position: absolute;
    left: 48px;
    top: 10px;
    margin-left: 2px;
}

div.extension2infopanel p.skillExLevel {
    left: 41px;
}

.text-black {
    color: black;
}

.slotskillimg img {
    width: 40px;
    height: 40px;
}

.slotskillimg {
    background-color: rgba(0,0,0,0.4);
    width: 40px;
    height: 40px;
}

.liststyle-none {
    list-style: none;
}

.width-max-fit {
    width: auto;
}

.ul-flexible {
    list-style: none;
}

.ul-flexible li {
    margin: 5px 0;
}

.list-inline-item .image {
    width: 40px;
    height: 40px;
}

.list-inline-item .name {
    width: 300px;
    height: 40px;
}

.list-inline-item .level {
    width: 60px;
    height: 40px;
}

.clickthrough {
    pointer-events:none;
}

.skill-list-select {
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.passiveskill div.skillinfopanel {
    height: 92px;
    width: 120px;
    border: 2px solid var(--PassiveGreen);
}

.vaporskill div.skillinfopanel {
    height: 80px;
    width: 80px;
    border: 2px solid var(--DesirePurple);
    margin-left: -110px
}

.vaporskill img.skillIcon {
    top: 8px;
    height: 60px;
    width: 60px;
    border: 2px solid var(--DesirePurple);
    border-radius: 100%;
}

.passiveskill li.tablelike{
    margin-top: 7px;
    margin-bottom: 0px;
    width: 108px;
}

.passiveskill :is(img.skillIcon,p.skillLevel) {
    Left: 40px;
}


.passiveskill :is(button.skillup,button.skilldown) {
    Left: 75px;
}

.vaporskill :is(button.skillup,button.skilldown,p.skillLevel) {
    visibility:hidden !important
}

ul#skillbuttons{
    align-items: center;
    padding-right: 3%;
}

#mainSkillsbtn{
    background-color:#da0d21;
    border-color: #da0d21;
    /* to make both buttons the same size
    padding-left: 25px;
    padding-right: 25px;
    */
}

#mainSkillsbtn:hover{
    background-color:#b91021;
    border-color: #b91021;
}

#mainSkillsbtn:focus{
    -webkit-box-shadow: 0 0 0 2px rgb(42, 159, 214);
    box-shadow: 0 0 0 2px rgb(42, 159, 214);
}

#pasSkillsbtn{
    background-color:#e79d13;
    border-color: #e79d13;
}

#pasSkillsbtn:hover{
    background-color:#c48614;
    border-color: #c48614;
}

#pasSkillsbtn:focus{
    -webkit-box-shadow: 0 0 0 2px rgb(42, 159, 214);
    box-shadow: 0 0 0 2px rgb(42, 159, 214);
}

#mainSkillsbtn, #pasSkillsbtn {
    margin-right: 5px;
}

#slotassignment{
    margin-left: 10px;
}

.container-fluid{
    overflow-x:hidden;
    width:auto;
}

::-webkit-scrollbar {
    background-color:#000000dd;
}

@media only screen and (max-width: 1482px) {
    #mainSkillsbtn {
        margin-bottom:5px;
    }
    .container-fluid{
        top: 60px;
    }
    ul{
        margin-top:20px;
    }
}

@media only screen and (max-width: 1463px) {
    .container-fluid{
        top: 80px;
    }
    .custom-select2{
        margin-top: 5px !important;
    }
}

@media only screen and (max-width: 1385px) {
    .container-fluid{
        top: 120px;
    }

    .custom-select2{
        margin-top: 20px !important;
        
    }
}

@media only screen and (max-width: 1269px) {
    .navbar-expand-md .navbar-nav {
    flex-direction: column;
    }

    .topnav-right{
        float: none;
    }
    .btn {
        margin-top: 5px;
        margin-bottom: 15px;
    }
    #mainSkillsbtn {
        margin-bottom: 15px;
    }
    .container-fluid{
        top: 250px;
    }
    .custom-select2{
        margin-top: -15px !important;
    }
}

@media only screen and (max-width: 1199px) {
    .vaporskill div.skillinfopanel{
        margin-left: 10px;
    }
    li.passiveskill{
        width: 460px;
    }
    ul.tablepassiveskill{
        width: 390px;
    }
}

@media only screen and (max-width: 991px) {
    div.skillinfopanel{
        margin-left: -100px;
    }
    .vaporskill div.skillinfopanel{
        margin-left: -90px;
    }
}

@media only screen and (max-width: 822px) {
    .container-fluid{
        top: 270px;
    }
}

@media only screen and (max-width: 810px) {
    .container-fluid{
        top: 270px;
    }
}

@media only screen and (max-width: 767px) {
    #mainSkillsbtn, #pasSkillsbtn {
        margin-bottom:0px;
        margin-right: 0px;
    }
    .container-fluid{
        top: -20px;
        overflow-x:scroll;
        height: auto;
    }
    .custom-select2{
        margin-top: -15px !important;
    }
    .container {
        margin:0px;
    }
    .topnav-right{
        float: none;
    }
    .btn {
        margin: 3px 0;
    }
    ul.tablevaporskill{
        padding: 0px;
    }
    ul.topnav-right{
        margin-top:3px;
    }
    .nav-link{
        display: inline-block;
    }
    .navbar-nav .nav-link{
        padding-right: 10px;
    }
    #copyBtn{
        margin-bottom:10px;
    }
}

@media only screen and (max-width: 740px) {
    li.vaporskill{
        display: block;
    }
    .vaporskill div.skillinfopanel{
        margin-top: 20px;
        margin-left: -190px;
    }
}


/* Passive Skilltree */

.PassiveLeftGrid {
    position: absolute;
    left: 280px;
    opacity: 0.4;
    animation: CS 15s;
}

.PassiveRightGrid {
    position: absolute;
    right: 500px;
    opacity: 0.4;
    animation: CS 15s;
}

.PassiveMaster {
    Position: relative;
    width: 90px;
    height: 100px;
    border-radius: 10%;
}

.PassiveSub {
    Position: relative;
    width: 90px;
    height: 100px;
    border-radius: 10%;
}

.Leveltext {
    Position: relative;
    width: 130px;
    top: 15px;
}


.PassiveMasterColumn {
    display: grid;
    grid-gap: 27px;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 5px;
    grid-template-columns: 90px 90px 90px 90px 90px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 7px;
    border: 2px solid var(--PassiveGreen);
    
}

.PassiveSubColumn {
    display: grid;
    grid-gap: 50px;
    padding: 10px 0px;
    grid-template-columns: 90px 90px 90px 90px;
    background-color: rgba(0, 0, 0, 0.9);
    border: 2px solid var(--PassiveGreen);
}

.L30, .R30 {
    border-radius: 7px 7px 0 0;
    border-bottom: none;
}

.L50, .R50 {
    border-top: none;
    border-bottom: none;
}

.L70, .R70 {
    border-top: none;
    border-radius: 0 0 7px 7px;
}


:is(.PassiveMaster,.PassiveSub) .skillIcon {
    border: 2px solid var(--PassiveGreen);
    border-radius: 10%;
}

.btnMinus, .btnPlus {
    height: 16px;
    width: 16px;
    margin-top: 75px;
    position: relative;
    border-radius: 3px;
    border: none;
    background-color: #84C551;
}

.btnMinus {
    left: -13px;
}

.btnPlus {
    left: 13px;
}

.btnIcon {
    position: absolute;
    
}

.imgMinus {
    top: 5px;
    width: 70%;
    left: 2.5px;
}

.imgPlus {
    top: 2.4px;
    left: 2.6px;
    height: 70%;
}

.PMlvl {
    display: inline;
    position: absolute;
    margin-left: -5px;
    margin-top: 73px;
}

.PSkillbot {
    position: relative;
    top: -20px;
}

.PMName {
    margin-top: -18px;
}

.ComingSoon {
    width: auto;
    height: 100%;
    padding: 0;
    margin: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
}

.CS {
    transform: translate(335px, 205px) rotate(14deg);
    font-size: 144px;
    z-index: 99999999999999999;
    position: absolute;
    animation: fadein 3s;
    font-family: cursive;
}

@keyframes CS {
    0% {opacity:0;}
    100% {opacity:0.4;}
}

.ArrowUp {
    letter-spacing:55px;
    padding-left: 8px;
    font-size: x-large;
    color: #5f5f5f;
}